<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<% @category.products.each do |product| %>

	<h3> <%= product.name %> </h3>

	<%= image_tag product.photo.url(:thumb) %>
	
	<p>
	<%= link_to "View details", product_path(product) %>
	</p>

<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
