<%= form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :category_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :photo_file_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :photo_file_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :photo_content_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :photo_content_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :photo_file_size, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :photo_file_size, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :photo_updated_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :photo_updated_at, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn' %>
  </div>
<% end %>
